# Python
__pycache__/
*.pyc
.pytest_cache/

# XFOIL artefacts
xfoil_script.inp
polar_tmp.txt
polar_tmp
cp_output.txt
polar_test.txt

# Executables
*.exe

# Generated data
generated_profiles/
results/
generated_profiles_test/
meshes/
results_su2/
aerosandbox_results/
analysis_*/
report_plots/
*.su2
*.dat
*.msh
*.geo
*.log
*.xlsx
config_tmp.cfg
history.csv
solution*
temp.*
.vscode/

# Misc
.DS_Store
